Repository teevik/gruppe-8-prog2052-kode-kamp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_frontend, trigger_code_runner

trigger_frontend:
  stage: triggers
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

trigger_code_runner:
  stage: triggers
  trigger:
    include: code-runner/.gitlab-ci.yml
    strategy: depend

format with prettier, fix mode-explanation page
  frontend/src/App.css
  frontend/src/components/Button.css
  frontend/src/components/Button.tsx
  frontend/src/components/Footer.css
  frontend/src/components/Footer.tsx
  frontend/src/components/InputField.css
  frontend/src/components/InputField.tsx
  frontend/src/components/Nav.tsx
  frontend/src/main.tsx
  frontend/src/pages/ComponentView/ComponentView.tsx
  frontend/src/pages/game/GamePage.css
  frontend/src/pages/landing/LandingPage.css
  frontend/src/pages/lobby/Lobby.tsx
  frontend/src/pages/modeExplanation/ModeExplanation.css
  frontend/src/pages/modeExplanation/ModeExplanation.tsx
  frontend/src/pages/results/ResultsPage.css
  frontend/src/pages/results/ResultsPage.tsx
  frontend/src/pages/terms/TermsOfService.css
  frontend/src/pages/terms/TermsOfService.tsx
Due: none

prettier
  frontend/index.html
Due: trigger_frontend

prettier
  frontend/tsconfig.json
Due: trigger_frontend

prettier
  frontend/eslint.config.js
Due: trigger_frontend

prettier
  frontend/README.md
Due: trigger_frontend

package lock
  frontend/package-lock.json
Due: trigger_frontend

Bruk lazyloading for GamePage, så den laster det i bakgrunnen når man åpner nettsiden (istedenfor blocking)
  frontend/src/pages/landing/LandingPage.tsx
Due: none

add more challenges
  backend/challenges/backspace.toml
  backend/challenges/kikiboba.toml
  backend/challenges/umferd.toml
  scraper/README.md
  scraper/kattis_scraper.py
  scraper/problem_list
Due: none

polish
  frontend/src/pages/lobby/Lobby.tsx
  frontend/src/pages/modeExplanation/ModeExplanation.tsx
Due: none

delete temp
  frontend/src/temp-kan-slettes/sum.test.ts
  frontend/src/temp-kan-slettes/sum.ts
Due: none

Add integrate register frontend and backend
  backend/src/const.ts
  backend/src/database/model/user.ts
  backend/src/routers/auth.ts
  frontend/src/components/Register.tsx
  frontend/src/pages/userRegister/RegisterPage.tsx
  shared/const.ts
Due: none

Refactor input validation + add enhetstester for register input valid function
  backend/.bruno/auth/registerGuest.bru
  frontend/src/App.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Nav.tsx
  frontend/src/components/Register.tsx
  frontend/src/const.ts
  frontend/src/tests/gamepage.test.ts
  frontend/src/tests/register.test.ts
Due: none

Add code run tests output vs expected to backend + frontend
  backend/src/consumers/coderunner.ts
  backend/src/socketio/game.ts
  backend/src/socketio/types.ts
  frontend/package.json
  frontend/src/components/TestResults.tsx
  frontend/src/pages/game/GamePage.tsx
  shared/types.ts
Due: trigger_frontend

Fix redirect to swagger on code runner
  code-runner/src/main.rs
Due: none

Apply 1 suggestion(s) to 1 file(s)
  backend/src/routers/auth.ts
Due: none

justfile for starting database, and installing/running both frontend and backend
  backend/.env.template
  justfile
Due: none

prettier script
  justfile
Due: none

Fix type errors in backend
  backend/package-lock.json
  backend/package.json
  backend/src/routers/auth.ts
  backend/src/socketio/game.ts
  backend/src/trpc.ts
  backend/src/user.ts
  shared/types.ts
Due: none

Fix type errors in frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: trigger_frontend

single gitlab ci
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  code-runner/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: trigger_frontend, trigger_code_runner

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Add login input validation function + tests
  frontend/src/components/Login.tsx
  frontend/src/components/Register.tsx
  frontend/src/tests/login.test.ts
  frontend/src/tests/register.test.ts
Due: none

Add /trpc/auth.login + integration with frontend
  backend/.bruno/auth/login.bru
  backend/src/const.ts
  backend/src/database/model/user.ts
  backend/src/routers/auth.ts
  frontend/src/components/Login.tsx
  frontend/src/components/Register.tsx
  frontend/src/const.ts
  frontend/src/tests/login.test.ts
  frontend/src/tests/register.test.ts
  shared/const.ts
Due: none

Add check if user is logged in on page load, in that case extracts token data
  backend/src/routers/auth.ts
  backend/src/socketio/game.ts
  frontend/src/App.tsx
  frontend/src/components/Nav.tsx
  frontend/src/pages/landing/LandingPage.tsx
  frontend/src/user.ts
  shared/types.ts
Due: none

Add token function, DRY
  backend/src/routers/auth.ts
Due: none

Fix little naming thing
  frontend/src/components/Login.tsx
  frontend/src/components/Register.tsx
Due: none

Fjernet duplicates
  backend/package-lock.json
  backend/src/socketio/game.ts
Due: none

Remove package lock
  backend/package-lock.json
Due: none

Set up docker compose for deploying
  Dockerfile
  backend/.dockerignore
  backend/package-lock.json
  backend/package.json
  backend/src/routers/auth.ts
  compose.yaml
  frontend/.dockerignore
  frontend/package.json
Due: trigger_frontend

Fix type errors in frontend
  backend/src/socketio/lobby.ts
  frontend/package-lock.json
  frontend/package.json
Due: trigger_frontend

Add tillat kun én submission + tester for ny updateScoreboard funksjon
  backend/package-lock.json
  backend/src/const.ts
  backend/src/socketio/game.test.ts
  backend/src/socketio/game.ts
  backend/src/socketio/lobby.ts
  backend/src/socketio/types.ts
  frontend/src/pages/landing/LandingPage.tsx
  shared/const.ts
  shared/types.ts
Due: none

gamlere mongodb
  compose.yaml
Due: none

Add display antall tester passert på scoreboardet
  frontend/src/pages/results/ResultsPage.css
  frontend/src/pages/results/ResultsPage.tsx
Due: none

Remove unused socket event listener
  backend/src/socketio/game.ts
  frontend/src/pages/game/GamePage.tsx
Due: none

fjerne pipeline cache
  .gitlab-ci.yml
Due: none

React context for auth
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Nav.tsx
  frontend/src/components/Register.tsx
  frontend/src/main.tsx
  frontend/src/user.ts
  frontend/src/user.tsx
Due: trigger_frontend

just check command
  justfile
Due: none

Add join lobby user, if user is logged in
  backend/src/socketio/game.ts
  backend/src/socketio/lobby.ts
  backend/src/socketio/types.ts
  frontend/src/pages/lobby/Lobby.tsx
  shared/types.ts
Due: none

Add poengsystem + gi poeng på slutten av game
  backend/src/socketio/game.ts
  shared/functions.ts
Due: none

Fix concurrent git clones for CI
  .gitlab-ci.yml
Due: none

Path conditions:
  trigger_frontend: any of: frontend/*
  trigger_code_runner: any of: code-runner/*
